@model IEnumerable<LandmarkHunt.Data.SessionChallenge>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Challenge)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Challenge.Name)
            </td>
            <td>
                    @if (item.Progress<5) {
                        <form asp-action="Play">
                            <input type="hidden" name="sessionId" value="@item.Id" />
                            <div class="form-group">
                                <input type="submit" value="Continiue" class="btn btn-primary" />
                            </div>
                        </form>
                    }else{
                        <a>Already Completed | Your Score was @item.TotalScore | </a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        
                    }
            </td>
        </tr>
}
    </tbody>
</table>
