@model IEnumerable<LandmarkHunt.Data.Challenge>

@{
    ViewData["Title"] = "Your Challenges";
}

<h1 class="m-lg-2">Your Challenges</h1>

<p class="ms-2" Your Challenges>
    <a style="color:#cc7a00" asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatorUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorUser.Id)
            </td>
            <td>
                <a style="color:red" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
