@model LandmarkHunt.Models.GuessModel

@{
    ViewData["Title"] = "Guess";
}



<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="col-10 col-md-8 col-lg-6 text-center">
        <h1>@Model.ActualName</h1>
        <h2>Your score was @(Model.Score)!</h2>
        @if (Model.ActualYear==Model.GuessYear)
        {
            <a>You were spot on, the year is @(Model.ActualYear)!</a>
        }else if (Math.Abs(Model.ActualYear - Model.GuessYear) == 1)
        {
            <a>Your guess was just one year apart, the year is actually @(Model.ActualYear)!</a>
        }else{
            <a>Your guess was @(Math.Abs(Model.ActualYear - Model.GuessYear)) years apart, the year is actually @(Model.ActualYear).</a>
        }
        <a>Your guess was @(String.Format("{0:0.##}", Model.Distance)) km away.</a>
        <input id="Latitude" class="form-control" value="@Model.ActualLatitude" hidden/>
        <input id="Longitude" class="form-control" value="@Model.ActualLongitude" hidden/>
    
        <input id="GLat" class="form-control" value="@Model.GuessLatitude" hidden />
        <input id="GLon" class="form-control" value="@Model.GuessLongitude" hidden/>
        <div id="map" style="width: 100%; height: 500px;"></div>
        <a asp-controller="Home" asp-action="Index">Home</a>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=weather"></script>
    <script src="~/js/LocationPicker/showGuess.js?version-2.9"></script>
}