@model LandmarkHunt.Models.GuessDTO

@{
    ViewData["Title"] = "Guess";
}

<h1>Guess</h1>
<h2>Your score was @(Model.Score)!</h2>
<div>
    
</div>
<div class="row">
    <div class="col-md-4">
        <input id="Latitude" class="form-control" value="@Model.Actual.Latitude" hidden/>
        <input id="Longitude" class="form-control" value="@Model.Actual.Longitude" hidden/>
    
        <input id="GLat" class="form-control" value="@Model.Guess.Latitude" hidden />
        <input id="GLon" class="form-control" value="@Model.Guess.Longitude" hidden/>
        <div id="map" style="width: 500px; height: 400px;"></div>
    </div>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Home</a>
</div>
@section Scripts {
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=weather"></script>
    <script src="~/js/LocationPicker/showGuess.js?version-2.8"></script>
}